@font-face {
    font-family: MortalKombat;
    src: url('../../assets/fonts/mortalkombat3.ttf');
}
.choose_container {
    display: flex;
    flex-wrap: wrap;
    width: 777px;
}

.main_container{
    justify-content: center;
}

.text{
    font-family: MortalKombat;
    text-align: center;
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}


.selected{
    border: 10px solid red !important;
}

.character1{
    border: 10px solid red !important;
}

.character2{
    border: 10px solid green !important;
}


.rot{
    display: flex;
}

.item {
    flex: 0 0 20%; 
    outline: none;
    box-sizing: border-box;
    border: 10px solid grey;
}